---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m a Full Stack Developer passionate about frontend and mobile development. I create seamless, userfriendly applications, translating complex requirements into efficient, maintainable code while delivering
    innovative solutions that align with business goals.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>
  
  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Frontend Developer @ Rubitec"
    subtitle="From 2023 to present, Barcelona, Spain"
    >
    Worked in the project for the app Flirt RizzGPT AI Pickup Lines - AI-powered app for generating tailored pickup lines.<br>
    <br>
    • Developed the React Native frontend, ensuring a seamless iOS experience.<br>

    • Integrated AI to generate context-aware pickup lines from screenshots.<br>

    • Contributed to the successful launch on the Apple Store, ensuring performance and user satisfaction.<br>

  </TimeLineElement>
  <TimeLineElement
  title="Full Stack Developer @ Organizo"
  subtitle="2024, Remote, Spain"
  >
  Organizo is a SaaS application aimed at enhancing cloud services for businesses.<br>
  <br>
  • Leaded frontend development and collaborating on key components.<br>
  • Integrated server-side (Prisma, Vercel) with client-side (Next.js) technologies.<br>
  • Developed a booking system with a payment gateway.<br>
  • Built the main dashboard with interactive analytics.<br>
  • Tested the functionality of each component using Jest.<br>


</TimeLineElement>
<TimeLineElement
title="Software Engineer, freelance @ Vendodrives"
subtitle="2024, Remote, Spain"
>
Vendodrives is a PWA for managing, selling, and buying vehicles. <br>
<br>
• Translating the frontend from JavaScript to TypeScript for better reliability.<br>

• Enhancing accessibility for an inclusive user experience.<br>

• Ensuring secure authentication and authorization.<br>

• Collaborating with the team to integrate technologies and optimize performance.<br>
</TimeLineElement>
<TimeLineElement
title="Financial Administrator @ Sisquella Solucions Empresarials"
subtitle="2019-2023, Barcelona, Spain"
>
• Overseeing company finances, including financial statements, budgets, and compliance with tax/legal regulations. <br>
• Implementing strategies to optimize financial efficiency and ensure accurate application of accounting standards.<br>
• Conducting financial analysis and supporting tax planning and audits.
</TimeLineElement>
</div>
<div class="mb-5">
  <div class="text-3xl w-full font-bold">Education</div>
</div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Degree in Accounting and Finance"
    subtitle="Universitat Autònoma de Barcelona, Barcelona, Spain"
  />
  <TimeLineElement
    title="Software Engineering"
    subtitle="Codeworks, Barcelona, Remote"
  />
</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>React Native</li>
    <li>Next.js</li>
    <li>Tailwind</li>
    <li>Prisma</li>
    <li>Vercel</li>
    <li>Jest</li>
    <li>Git</li>
    <li>Angular</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>MySQL</li>
    <li>Expo</li>
    <li>Firebase</li>
    <li>GraphQL</li>
    <li>Cypress</li>
  </ul>
</BaseLayout>
